<div id="login-hero-background"> 
<br>
<div id="login-logo" class='title'><%= image_tag "http://i.imgur.com/qsgVKC8.png" %></div>
<div class="row column align-center medium-6 large-4 container-padded">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
<form class="log-in-form">
  <h4 class="text-center", id='login-message'>Log in with your email account</h4>

    <%= f.email_field :email, autofocus: true %>

    <%= f.password_field :password, autocomplete: "off" %>
    </div>
  
  <p><input type="submit" class="button expanded" value="Log in"></input></p>
   <% if devise_mapping.rememberable? -%>
    <div class="field" id='remember-me'>
      <%= f.check_box :remember_me %>
      <span id='not-a-member'><%= link_to "Not A Member?", new_user_registration_path %></span>
  <% end -%>
</form>
<div class="actions">
   
  </div>
<% end %>
</div>

