
<!-- mobile nav bar -->

<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
  <div class="title-bar-left">
      <%= link_to root_path do %>
      <%= image_tag 'logo/nomad_compass_full.png' %>
      <% end %>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
  </div>
</div>
<!-- /mobile nav bar -->

<!-- medium and larger nav bar -->
<div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class="top-bar-left" id: 'nav-bar-left'>
    <ul class="menu horizontal medium-horizontal", id='hamburger'>
      <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to current_user.full_name, user_path(current_user.id) %></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
    </ul>
  </div>
  <div class="top-bar-center">
  <%= link_to root_path do %>
    <%= image_tag 'logo/nomad_compass_full.png' %>
  <% end %>
  </div>
</div>
<!-- /medium and larger nav bar -->

