<nav class="top-bar topbar-responsive">
  <div id="top-bar-title" class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
       <div id="top-bar-logo"class="topbar-responsive-logo" ><%= image_tag 'logo/nomad_compass.png',style: 'height:90px;width:auto;' %></div>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div id="top-bar-right" class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
         <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to current_user.full_name, user_path(current_user.id) %></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <a class="topbar-responsive-logo" href="#"><strong>Site Title</strong></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <button type="button" class="button hollow topbar-responsive-button">Categories</button>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

