<%= render :partial => 'partials/user' %>

<div id='user-show-posts', class='center'>
  <div id='user-show-center', class='center'>
    <h5 id='usernames-posts'><%= current_user.full_name %>'s Posts</h5>
    <br>
    <% current_user.posts.order(created_at: :desc).each do |post|%>
	  <%= link_to(city_post_path(post.city_id, post.id)) do %>
        <div class='flex, center'>
          <%= image_tag post.img, :class => 'user-post-image' %>
        	<h6 class="travel-feature-card-title"><%= post.title %></h6>
					<p class='post-date'>Posted: <%= time_ago_in_words(post.created_at) %> ago</p>
				    <div class="user-show-post">
              <p class='post-post'><%= post.post %></p>
					  </div>
					    <div id='user-post-flex'>
					      <%= link_to 'Edit', edit_city_post_path(@city=post.city_id, @post=post.id), :class => 'post-date'%>
					      <%= link_to 'Delete', city_post_path(@city=post.city_id, @post=post.id), :class => 'post-date', method: :delete, data: { confirm: "About to delete #{post.title}! Are you sure you want to do this?" } %>
					      <br>
					      ________________________
								<br>
								<br>
              </div>
				</div>
		<% end %>
		<% end %>
  </div>
</div>



