<div class = "user">
<h1><%= current_user.full_name %></h1>
<h2>Email: <%= current_user.email %></h2>
<h3>City: <%= current_user.current_city %></h3>
</div>
<p class= "post-header"><%= current_user.full_name %>'s posts</p>
<div class = "posts"> 

<% current_user.posts.each do |post|%>
<div class="card, center, post" style="width: 300px;">
  <div class="card-section">
      <p><%= post.title %></p>
        <br>
        <p><%= image_tag post.img %></p>
        <br>
        <p><%= post.post %></p>
  </div>
</div>
<% end %>

</div>

<h4 class = 'edit-user-button'><%= link_to 'Edit User', edit_user_registration_path(@current_user), class: 'button' %></h4>
