<div class = "user">
<h1 class="h1user"><%= current_user.full_name %></h1>
<h2 class="h2user">Email: <%= current_user.email %></h2>
<h3 class="h3user">City: <%= current_user.current_city %></h3>
</div>
<p class= "user-post-header"><%= current_user.full_name %>'s posts</p>
<div class = "user-posts"> 

<% current_user.posts.each do |post|%>
	<div class="card, center, post" style="width: 300px;">
	  <div class="card-section">
	      <p><%= post.title %></p>
	        <br>
	        <p><%= image_tag post.img %></p>
	        <br>
	        <p><%= post.post %></p>


	  </div>
	<h5 class = 'user-edit-post-button'><%= link_to 'Edit Post', edit_city_post_path(@post=post.id, @city=post.city_id), class: 'button' %></h5>
	</div>
<% end %>

</div>

<h4 class = 'edit-user-button'><%= link_to 'Edit User', edit_user_registration_path(@current_user), class: 'button' %></h4>
