
<%= render :partial => 'partials/user' %>


<div id='user-show-posts', class='center'>
<div id='user-show-center'>
	<div class='post-wrapper, center'>
		<div class="posts-panel">
			<header class="panel-header">
				<h1 class="panel-title"><%= current_user.full_name %>'s Posts</h1>
			</header>
			<% current_user.posts.order(created_at: :desc).each do |post|%>
					<%= link_to(city_post_path(post.city_id, post.id)) do %>
					<section class="posts-list">
			<div id='post-glyph'>
				<h5 id='user-edit-post-button'><%= link_to link_to image_tag("https://image.flaticon.com/icons/png/128/34/34022.png"), edit_city_post_path(@city=post.city_id, @post=post.id)%></h5>
				<h5 id='user-delete-post-button'><%= link_to image_tag("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-trash-a-128.png"), city_post_path(@city=post.city_id, @post=post.id), method: :delete, data: { confirm: "About to delete #{post.title}! Are you sure you want to do this?" } %></h5>
			</div>
					<div class="post-item">
						<p><%= image_tag post.img %></p>
						<div class="post-text">
							<h4 class="post-title">Post Title: <%=post.title%></h4>
							<div class="post-meta">
								<span class="meta"><span class="meta-icon fa fa-user-circle-o" aria-hidden="true"></span><%= post.user.full_name %></span>
								<span class="meta"><span class="meta-icon fa fa-clock-o" aria-hidden="true"></span><span class="meta-text">posted at <%=post.created_at%></span></span>
							</div>
							<div class="post-summary">
								<p>Post Content: <%= post.post %>
						<% end %>
								</p>
							</div>
						</div>
					</div>
				<hr>
			<% end %>
		</div>
	</div>
</div>
</div>
