<div class = "user">
<h1><%= current_user.full_name %></h1>
<h2>Email: <%= current_user.email %></h2>
<h3>City: <%= current_user.current_city %></h3>
</div>
<div class = "posts">

</div>

<button type="button">Edit <%= current_user.full_name%></button>
<button type="button">Delete <%= current_user.full_name%></button>