<h1>Edit a Post</h1>


<%= form_for @post, url: {action: "update"} do |f| %>
<%= f.text_field :title%>
<%= f.text_field :post%>
<%= f.text_field :img%>
<%= f.submit%> 

<% end %>

<%= button_to 'post_destroy', [@city, @post], confirm: 'Are you sure?', :disable_with => 'deleting...', method: :delete %>

