<h1>Edit a Post</h1>


<%= form_for @post, url: {action: "update"} do |f| %>
 <% if @post.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
    </div>
<% end %>
<%= f.text_field :title%>
<%= f.text_field :post%>
<%= f.text_field :img%>
<%= f.submit%> 

<% end %>

<h4 class = 'cancel-button'><%= link_to 'Cancel', city_post_path(@city, @post), class: 'button' %></h4>

<%= button_to 'Delete Post', [@city, @post], class: 'alert button', method: :delete, data: { confirm: "About to delete #{@post.title}! Are you sure you want to do this?" } %>