
<p></p>
<br>
<div class='center'>
<h2 id='post-show-title'><%= @post.title %></h2>
<br>
<div class='post-show-container'>
<%= image_tag @post.img, :class => 'post-image' %>
<br>
<p id='post-show-content'><%= @post.post %></p>
<% if @post.user == current_user %>
<% end %>
<h6>Article written by <%= @post.user.full_name %> | <%= time_ago_in_words(@post.created_at) %> ago.</h6>
<p id = 'edit-post-button'><%= link_to 'Edit Post', edit_city_post_path(@city = @post.city_id, @post) %></p>        
</div>
</div>
