
<div class='city-header'>
<h1 class='center, city-name'>The City of <%= @city.name %>, <%= @city.state %></h1>
<h3 class = 'new-post-button'><%= link_to 'New Post', new_city_post_path(@city), class: 'button' %></h3>
</div>
<div>
<%= image_tag @city.image %>
</div>

<% @city.posts.each do |post|%>
<div class="card, center, post" style="width: 300px;">
  <div class="card-section">
      <p><%= post.title %></p>
        <br>
        <p><%= image_tag post.img %></p>
        <br>
        <p><%= post.post %></p>
  </div>
</div>
<% end %>
