
<h1 class='center'>The City of <%= @city.name %>, <%= @city.state %></h1>
<div>
<%= image_tag @city.image %>
</div>

<% @city.posts.each do |post|%>
<div class="card, center, post" style="width: 300px;">
  <div class="card-section">
      <p><%= post.title %></p>
        <br>
        <p><%= image_tag post.img %></p>
        <br>
        <p><%= post.post %></p>
  </div>
</div>
<% end %>


