
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), auto_labels: false) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-group">
    <span class="input-group-label">
      <i class="fa fa-envelope"></i>
    </span>
    <%= f.email_field :email, autofocus: true, class: "input-group-field", placeholder: "email" %>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      <i class="fa fa-user"></i>
    </span>
    <%= f.text_field :full_name, autofocus: true, class: "input-group-field", placeholder: "Enter full name" %>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      <i class="fa fa-user"></i>
    </span>
    <%= f.text_field :image, autofocus: true, class: "input-group-field", placeholder: "Enter Image Url" %>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      <i class="fa fa-envelope"></i>
    </span>
    <%= f.text_field :current_city, autofocus: true, class: "input-group-field", placeholder: "Enter current city" %>
  </div>
      <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  <div class="input-group">
    <span class="input-group-label">
      <i class="fa fa-key"></i>
    </span>
    <%= f.password_field :password, autocomplete: "off", class: "input-group-field", placeholder: "Enter password" %>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      <i class="fa fa-envelope"></i>
    </span>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-group-field", placeholder: "re-enter password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button expanded" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
